body{
    margin-top: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #434b5f;
    width: 1200px;
}

.titulo {
color: black; font-weight: 900; font-size: x-large; text-align: left; font: bold;

}


.barra{
    display: flex;
    background-color:  #ccccdc;
    padding: 0.25em 0;
    list-style-type: none;
    text-align: end;
    width: 100%;
}

.titulo, .elementos {
    width: 50%;
}


.banner {
    width: 1200px;
    height: 400px;
  }
li{
    padding: 10px;
    display: inline-block;
    color: black;
    text-align: right;
    font-weight: 900;
    font-size: larger; 
}

footer{
    height: 200x;
    background-color: #ccccdc;
    display: inline-block;
    padding: -15px;
    margin-top: 5px0;
    text-align: center;
}

hr{
    color: white;
}

.servicios{
    background-color: #ccccdc;
    display:flex;
    justify-content: space-evenly;
    text-align:justify;
    padding: 25px;
    bottom: 0;
    margin-top: 10px;
    margin-bottom: 10px;


}

.servicios__contenedor{
    margin: 20px;
    
}

.noticias{
    background-color: #ccccdc;
    display:flex;
    justify-content: space-evenly;
    text-align:justify;
    padding: 25px;
}
.noticias__contenedor{
    margin: 20px;
    padding: 0.5em 0;
}

.equipo{
    background-color: #ccccdc;
    display:flex;
    justify-content: space-evenly;
    text-align:justify;
    padding: 25px;
    bottom: 0;
    margin-top: 10px;
    margin-bottom: 10px;


}

.equipo__contenedor{
    margin: 20px;
    
}